
img {
	width: 100%;
	max-width: 100%;
}

main{
	margin-top:20px;
}

#search form{
	padding:10px;
}
 /*----------------------------------------------------------------------
 Make several column system
 I would rather to use 1% padding in each sight of the column, so it has 1% padding in the left of first column and 1% padding in the right of the last column
 -------------------------------------------------------------------*/
/*Two columns system, left as sidebar*/
#col-header .ui-grid-a .ui-block-a{
	width:19%;
}
#col-header .ui-grid-a .ui-block-b{
	width:81%;
}

/*Two columns system, right as sidebar*/
#col-2-1 .ui-grid-a .ui-block-a{
	width:66%;
	padding-right:1%;
	margin-top:20px;
}
#col-2-1 .ui-grid-a .ui-block-b{
	width:33%;
	margin-top:20px;
}

/*Two columns system, left as sidebar*/
#col-1-2 .ui-grid-a .ui-block-a{
	width:33%;
	padding-right:1%;
	margin-top:20px;
}
#col-1-2 .ui-grid-a .ui-block-b{
	width:66%;
	margin-top:20px;
}

/*Two columns system, equally divided*/
#col-1-1 .ui-grid-a .ui-block-a{
	width:48%;
	padding-left:1%;
	padding-right:1%;
}
#col-1-1 .ui-grid-a .ui-block-b{
	width:48%;
	padding-left:1%;
	padding-right:1%;
}

/*Four columns system, equally divided*/
#col-1-1-1-1 .ui-grid-c .ui-block-a{
	width:23%;
	padding-right:1%;
	padding-left:1%;
}
#col-1-1-1-1 .ui-grid-c .ui-block-b{
	width:23%;
	padding-right:1%;
	padding-left:1%;
}
#col-1-1-1-1 .ui-grid-c .ui-block-c{
	width:23%;
	padding-right:1%;
	padding-left:1%;
}
#col-1-1-1-1 .ui-grid-c .ui-block-d{
	width:23%;
	padding-right:1%;
	padding-left:1%;
}

.custom_corners .ui-bar{
	-webkit-border-top-left-radius:inherit';'
	border-top-left-radius:inherit;
	-webkit-border-top-right-radius:inherit;
	border-top-right-radius:inherit;
}
.custom_corners .ui-body{
	border-top-width:0;
	-webkit-border-bottom-left-radius:inherit';'
	border-bottom-left-radius:inherit;
	-webkit-border-bottom-right-radius:inherit;
	border-bottom-right-radius:inherit;
}


/*---------------------------------------------------------
Several Breakpoints
-------------------------------------------------------------*/
/*Breakpoint 720px*/
@media all and (max-width: 720px){
	/*for four columns*/
	#col-1-1-1-1 .ui-grid-c .ui-block-a,
	#col-1-1-1-1 .ui-grid-c .ui-block-b,
	#col-1-1-1-1 .ui-grid-c .ui-block-c,
	#col-1-1-1-1 .ui-grid-c .ui-block-d{
		width:48%;
		padding-right:1%;
		padding-right:1%;
	}

	/*for Two columns left side bar or right side bar*/
	#col-1-2 .ui-grid-a .ui-block-a,
	#col-1-2 .ui-grid-a .ui-block-b{
	width:48%;
	padding-left:1%;
	padding-right:1%;
	}

	/*for Two columns right side bar or right side bar*/
	#col-2-1 .ui-grid-a .ui-block-a,
	#col-2-1 .ui-grid-a .ui-block-b{
	width: 48%;
	padding-left:1%;
	padding-right:1%;
	}
}

/*Breakpoint 480px*/
@media all and (max-width: 480px){
	/*for four columns*/
	#col-1-1-1-1 .ui-grid-c .ui-block-a,
	#col-1-1-1-1 .ui-grid-c .ui-block-b,
	#col-1-1-1-1 .ui-grid-c .ui-block-c,
	#col-1-1-1-1 .ui-grid-c .ui-block-d{
		width:98%;
		padding-left:1%;
		padding-right:1%;
	}

	/*for Two columns left side bar or right side bar or equally divided columns*/
	#col-2-1 .ui-grid-a .ui-block-a,
	#col-2-1 .ui-grid-a .ui-block-b{
		width:98%;
		padding-left:1%;
		padding-right:1%;
	}	
}

